{% extends 'base.html.twig' %}

{% block title %}Курсы/ Study-on{% endblock %}

{% block body %}

    <h1>Курсы</h1>

    {% for course in courses %}
        <h3><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a></h3>

        {% if course.description %}
            <p>{{ course.description }}</p>
        {% endif %}

        <hr>
    {% else %}
        <p>Пока нет ни одного курса. Надо бы добавить ;)</p>
    {% endfor %}

    <a class="btn" href="{{ path('app_course_new') }}">Добавить курс</a>

{% endblock %}