{% extends 'base.html.twig' %}

{% block title %}Создать курс / Study-on{% endblock %}

{% block body %}
    <h1>Создать курс</h1>

    {{ include('course/_form.html.twig') }}

    <hr>

    <a class="btn" href="{{ path('app_course_index') }}">Назад к списку курсов</a>
{% endblock %}
