{% extends 'base.html.twig' %}

{% block title %}Создать урок / Study-on{% endblock %}

{% block body %}
    <h1>Создать урок</h1>

    {{ include('lesson/_form.html.twig', {'course': courseId}) }}

    <hr>

    <a class="btn" href="{{ path('app_course_show', {'id': courseId}) }}">Назад к курсу</a>
{% endblock %}
